<!DOCTYPE html>
<html>
<head>
    <title>Вхід до системи</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body class="login-page">
    <h1 id="login-page-title">Вхід до системи</h1>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Логін" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit" id="login-button">Увійти</button>
    </form>
</body>
</html>